.wp-block-buttons {
    justify-content: center;
}

.wp-block-button__link, a.button {
    text-transform: uppercase;
    color: white;
    background-color: $primaryAccentColor;
    border-radius: 1.5rem;
    padding: 1rem 2.5rem;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;

    &:hover {
        outline: none;
        border: none;
        background-color: lighten($primaryAccentColor, 15%);
    }

    &:focus {
        outline: 1px dotted $primaryAccentColor;
    }
}