#foodservice_main {
    background-position: 50% 70%;
    background-size: cover;
    background-color: black;

    > * {
        width: 100%;
        max-width: $breakpointSm;
        margin-left: auto;
        margin-right: auto;
    }

    .entry_content {
        padding: 0 $sidePadding max(63vh, max(50vw, 840px));
        max-width: 38ch;
        text-align: center;

        p {
            text-shadow: 0 3px 6px black;
            line-height: 1.5;
        }

        strong, b {
            font-weight: 900;
        }
    }
}

.foodservice_products_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;

    > li {
        flex-basis: 100%;
        display: block;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-size: cover;
    }
}

.foodservice_product_copy {
    color: black;
    margin: 6rem auto 2rem;
    padding-left: $sidePadding;
    padding-right: $sidePadding;
    max-width: 36ch;

    h1, h2, h3, h4, h5, h6 {
        color: white;
    }

    p {
        line-height: 1.25;
    }
}

.foodersvice_product_image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.brick_breaker {
    background-image: url(../img/brick-bg.jpg);
    background-position: bottom;
    height: max(480px, 25vw);
    background-size: cover;
}

@media(min-width: $breakpointLg) {
    .foodservice_products_list > li {
        flex-basis: 50%;
        display: flex;
    }

    .foodservice_product_container {
        display: flex;
        flex: 1;
        overflow: hidden;
    }

    .foodservice_product_copy {
        margin-top: 0;
    }

    .foodservice_product_copy_container {
        flex-basis: calc(40ch + 60px);
        display: flex;
        align-items: center;
        padding-bottom: 20rem;
        padding-top: 0rem;
    }

    .foodservice_product_image_container {
        position: relative;
        flex: 1 1 auto;
    }

    .foodersvice_product_image {
        position: absolute;
        bottom: 0;
        width: 720px;
        max-width: unset;
    }

    .foodservice_products_list > li {

        &:nth-child(2n+1) {

            .foodservice_product_container {
                flex-direction: row-reverse;
                text-align: right;
            }

            .foodersvice_product_image {
                right: -30rem;
            }
        }

        &:nth-child(2n) {
            .foodersvice_product_image {
                left: -30rem;
            }
        }

        &:nth-child(4) {
            .foodersvice_product_image {
                left: -20rem;
            }
        }
    }
}