#home_products {
    background-image: url(../img/black-bg-page.jpg);
    background-size: cover;
    padding: 8rem 0;

    > div > header {
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4rem;
        text-align: center;
        font-size: 2rem;

        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
        }

        p {
            font-weight: bold;
        }
    }

    ul.products {
        width: 100%;
        max-width: $breakpointLg;
        margin-right: auto;
        margin-left: auto;
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;

        .homepage_product {
            text-align: center;
            width: 100%;
            max-width: 360px;
            padding: 30px;
            margin-left: auto;
            margin-right: auto;

            .thumbnail_container {
                font-size: 0;

                img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                }
            }

            .title_container {
                font-weight: bold;
                font-size: 1.5em;
                margin-top: 0.5em;
            }

            .button_container {
                margin-top: 0.5em;

                a.button {
                    display: inline-block;
                    font-size: 0.875em;
                }
            }
        }

        @media(min-width: $breakpointLg) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: nowrap;

            .homepage_product {
                flex: 0 1 33%;
            }
        }
    }

    .heating_instructions_container {
        padding-top: 1rem;

        button {
            font-size: 1.7rem;
            font-weight: 900;
            padding: 1rem 1.5rem;
            border-radius: 10px;
            color: black;
            background: white;
            display: block;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            z-index: 2;
        }

        .opener_target {
            display: none;

            &.active {
                display: block;
            }
        }

        .heating_instructions {
            background: $primaryAccentColor;
            color: black;
            padding: 9rem $sidePadding 6rem;
            position: relative;
            top: -2rem;
            z-index: 1;
            text-align: center;

            img {
                display: inline-block;
                max-width: 100%;
                height: auto;
            }

            > header, > ul {
                width: 100%;
                max-width: $breakpointSm;
                margin-left: auto;
                margin-right: auto;
            }

            @media(min-width: $breakpointNav){

                > ul {
                    max-width: $maxContentWidth;
                }
            }

            ul.heating_instructions_sections {
                list-style: none;
                margin-top: 0;
                margin-bottom: 0;
                padding: 0;

                @media(min-width: $breakpointNav) {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                }

                > li {
                    margin: 0;
                    padding: 0;

                    @media(min-width: $breakpointNav) {
                        box-sizing: border-box;
                        padding: 2rem;
                        flex: 1 1 33%;
                    }
                }
            }
        }
    }
}

#home_social {
    background-size: cover;
    padding: 10rem 0;
}

ul.social_feed {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
        display: block;
        padding: 1rem;
        margin: 0 auto;
        max-width: 320px;
        background: white;
        margin-bottom: 2rem;

        > div {
            background: #efefef;
            width: 100%;
            height: 360px;
        }
    }

    @media(min-width: $breakpointLg) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > li {
            flex: 0 0 calc(50% - 2rem);
            max-width: unset;
        }

        &.thirds {

            > li {
                flex: 0 0 calc(33.333% - 2rem);
            }
        }

        &.fourths {

            > li {
                flex: 0 0 calc(25% - 2rem);
            }
        }
    }
}