#site_footer{
    background-color: black;
    color: white;
    padding: 4rem $sidePadding;
}

#footer_content_wrapper{
    width:100%;
    max-width:$maxContentWidth;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;

    @media(min-width: $breakpointSm){
        
    }
}

#footer_logo_container{
    flex: 0 1 auto;

    img{
        display:block;
        max-width: 100%;
    }
}

#footer_nav_wrapper{

    @media(min-width: $breakpointSm){
        flex: 1 1 auto;
    }
}

#footer_social_container{
    flex: 0 0 auto;
    display:flex;
    justify-content: flex-end;
    font-size: 3rem;
    padding-left: 2rem;

    svg{
        font-size: 24px;
        margin-left:0.2em;
        margin-right:0.2em;
        color: $primaryAccentColor;

        @media(min-width: $breakpointSm){
            font-size: 40px;
            margin-left:0.3em;
            margin-right:0.3em;
        }
    }
}