.entry_content {
    .wpforms-container {
        max-width: 48rem;

        .wpforms-form {

            .wpforms-submit-container {
                text-align: center;
            }

            button[type=submit] {
                background-color: $primaryAccentColor;
                color: white;
                border: none;
                text-transform: uppercase;
                padding: 10px 40px;
                border-radius: 1.5rem;

                &:hover, &:focus {
                    outline: none;
                    border: none;
                    background-color: lighten($primaryAccentColor, 15%);
                }

                &:focus {
                    outline: 1px dotted $primaryAccentColor;
                }
            }
        }
    }

    div.wpforms-container-full .wpforms-form label.wpforms-error {
        background-color: white;
        border: 1px solid #990000;
    }

    .wpforms-confirmation-container-full, div[submit-success]>.wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
        background: $primaryAccentColor;
        color: black;
        border: none;
    }
}

div.wpforms-container-full .wpforms-form input:focus, div.wpforms-container-full .wpforms-form textarea:focus, div.wpforms-container-full .wpforms-form select:focus, div.wpforms-container-full .wpforms-form .is-focused .choices__inner, div.wpforms-container-full .wpforms-form .is-open .choices__inner, div.wpforms-container-full .wpforms-form .is-open .choices__list--dropdown {
    border: 1px solid $primaryAccentColor;
    outline: 1px $primaryAccentColor dotted;
}

div.wpforms-container-full .wpforms-form .wpforms-required-label {
    color: $primaryAccentColor;
    font-weight: 900;
}